.footer {
    width: 100vw;
    height: 25vh;
    background-color: black;
    @include flexbox(column, center, center);
    animation: introAnimation 600ms 1s backwards;

    img {
        margin-bottom: 2rem;
    }

    &-rights {
        color: white;
        font-size: 1.2rem;
    }
}