.header {
    width: 90%;
    max-width: 1240px;
    @include flexbox(row, space-between, center);
    padding-top: 2rem;
    margin: 0 auto;

    &-logo {
        width: 43%;
        max-width: 210px;
    }
}