.accordion {
    width: 100%;
    max-width: 335px;
    background-color: #f6f6f6;
    margin: 1rem 0;
    border-radius: 1rem;

    @include responsive(medium) {
        max-width: 580px;
    }

    &-header {
        @include flexbox(row, space-between, center);
        background-color: $main-color;
        border-radius: 0.5rem;
        font-size: 1.3rem;
        padding: 0.5rem 1.1rem;
        color: white;

        &_button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            width: 2rem;
            height: 2rem;
            @include flexbox(row, center, center);
            transition: transform 300ms ease-in-out;

            &-rotate {
                transform: rotate(180deg);
                transition: transform 300ms ease-in-out;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &-content {
        overflow: hidden;
        height: 0;
        font-size: 1.2rem;
        transform: scaleY(0);
        color: $main-color;
        transition: all 300ms ease-in-out;

        &:first-child{
            background-color: red;
        }

        &_show {
            transform: scaleY(1);
            height: auto;
            max-height: 350px;
            padding: 2rem 1rem;
            transition: all 300ms ease-in-out;
        }
    }
}