/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  font-size: 10px;
}
@media (min-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.nav {
  width: 41.5%;
  max-width: 263px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-list_item {
  color: #FF6060;
  text-decoration: underline;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .nav-list_item {
    text-transform: none;
    font-size: 1.5rem;
  }
}

.card {
  width: 100%;
  height: 255px;
  margin-top: 2rem;
  max-width: 335px;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
@media (min-width: 992px) {
  .card {
    height: 340px;
  }
}
.card::after {
  content: " ";
  position: absolute;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-in-out;
}
.card img {
  height: 150%;
  object-fit: cover;
}
.card-title {
  position: absolute;
  z-index: 2;
  font-size: 18px;
  color: white;
  bottom: 15px;
  left: 15px;
}
@media (min-width: 992px) {
  .card:hover {
    transform: scale(1.06);
    transition: all 300ms ease-in-out;
  }
  .card:hover::after {
    background: linear-gradient(rgba(255, 96, 96, 0), rgba(255, 96, 96, 0.6));
    transition: all 300ms ease-in-out;
  }
}

.caroussel {
  position: relative;
  width: 100%;
  height: 25.5rem;
  max-height: 415px;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.caroussel-arrow {
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0.8rem;
}
.caroussel-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.caroussel-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.rating img {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.2rem;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  max-width: 450px;
}
@media (min-width: 992px) {
  .tag-container {
    max-width: 600px;
  }
}
.tag-container_item {
  width: 31%;
  height: 1.5rem;
  font-size: 0.8rem;
  color: white;
  display: inline-block;
  background-color: #FF6060;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
  white-space: nowrap;
}

.accordion {
  width: 100%;
  max-width: 335px;
  background-color: #f6f6f6;
  margin: 1rem 0;
  border-radius: 1rem;
}
@media (min-width: 992px) {
  .accordion {
    max-width: 580px;
  }
}
.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  padding: 0.5rem 1.1rem;
  color: white;
}
.accordion-header_button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease-in-out;
}
.accordion-header_button-rotate {
  transform: rotate(180deg);
  transition: transform 300ms ease-in-out;
}
.accordion-header_button img {
  width: 100%;
  height: 100%;
}
.accordion-content {
  overflow: hidden;
  height: 0;
  font-size: 1.2rem;
  transform: scaleY(0);
  color: #FF6060;
  transition: all 300ms ease-in-out;
}
.accordion-content:first-child {
  background-color: red;
}
.accordion-content_show {
  transform: scaleY(1);
  height: auto;
  max-height: 350px;
  padding: 2rem 1rem;
  transition: all 300ms ease-in-out;
}

.header {
  width: 90%;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  margin: 0 auto;
}
.header-logo {
  width: 43%;
  max-width: 210px;
}

.hero {
  width: 100%;
  border-radius: 1rem;
  position: relative;
  height: 11rem;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/home_banner.png");
  background-size: 100%;
  background-position: 30% 45%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 992px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.hero-title {
  font-size: 2.4rem;
  color: white;
  font-weight: 500;
  width: 65%;
  margin-left: 1.6rem;
}
@media (min-width: 992px) {
  .hero-title {
    text-align: center;
  }
}

.home {
  width: 89.5%;
  max-width: 1240px;
  margin: 1.6rem auto;
}
.home_locations {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 335px), 1fr));
  place-items: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 992px) {
  .home_locations {
    padding: 2.5rem;
    background-color: #F6F6F6;
    border-radius: 1rem;
    margin: 2.3rem auto;
    place-items: center;
  }
}

.property {
  width: 89.5%;
  max-width: 1240px;
  margin: 2.7rem auto;
}
@media (min-width: 992px) {
  .property {
    margin: 1rem auto;
  }
}
.property-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 1.5rem 0;
}
@media (min-width: 992px) {
  .property-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.property-header_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.property-header_info_title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #FF6060;
  margin-bottom: 0.5rem;
}
.property-header_info_location {
  font-size: 1.3rem;
  color: #FF6060;
}
.property-header_owner {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
}
@media (min-width: 992px) {
  .property-header_owner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 6rem;
    width: 40%;
    margin-top: 0;
  }
}
.property-header_owner_name {
  font-size: 1.2rem;
  color: #FF6060;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  max-width: 120px;
}
@media (min-width: 992px) {
  .property-header_owner_name {
    width: 100%;
    max-width: 200px;
  }
}
.property-header_owner_picture {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}
.property-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 767px) {
  .property-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}/*# sourceMappingURL=main.css.map */