.about {
  @include page-container;
  animation: introDropDown 600ms backwards;

  .accordion {
    margin: 2rem auto;

    @include responsive(small) {
      width: 80%;
      max-width: none;
    }
  }
}
